.infoImg{
    width:100%;

}
.info{
   display: flex;
}

.badge{

    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.badge:hover{
    transform: scale(120%);
}
p{
    margin-top: 1px;
}